<app-navbar-customer></app-navbar-customer>

<section class="offer-dedicated-body mt-4 mb-4 pt-2 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="offer-dedicated-body-left">
          <div class="bg-white rounded shadow-sm p-4">
            <h4 class="mb-1">Thanh toán đơn hàng</h4>
          </div>
          <div class="pt-2"></div>
          <div class="bg-white rounded shadow-sm p-4 mb-4">
            <h4 class="mb-1">Chọn địa chỉ giao hàng</h4>
            <!-- <h6 class="mb-3 text-black-50">Multiple addresses in this location</h6> -->
            <div class="row">
              <div class="col-md-6">
                <div class="bg-white card addresses-item mb-4 border border-success">
                  <div class="gold-members p-4">
                    <div class="media">
                      <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i></div>
                      <div class="media-body">
                        <h6 class="mb-1 text-black">Nhà</h6>
                        <p class="text-black">Tòa Nhà Botanica, 104 Phổ Quang, P. 2, Tân
                          Bình, TP. HCM
                        </p>
                        <p class="mb-0 text-black font-weight-bold"><a
                          class="btn btn-sm btn-success mr-2" href="#"> Giao tới địa
                          chỉ này</a>
                          <span>30MIN</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="bg-white card addresses-item mb-4">
                  <div class="gold-members p-4">
                    <div class="media">
                      <div class="mr-3"><i class="icofont-briefcase icofont-3x"></i></div>
                      <div class="media-body">
                        <h6 class="mb-1 text-secondary">Work</h6>
                        <p>107/50A Đường Số 11, P. 11, Gò Vấp, TP. HCM
                        </p>
                        <p class="mb-0 text-black font-weight-bold"><a
                          class="btn btn-sm btn-secondary mr-2" href="#"> Giao
                          ngay</a>
                          <span>40MIN</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="bg-white card addresses-item">
                  <div class="gold-members p-4">
                    <div class="media">
                      <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                      <div class="media-body">
                        <h6 class="mb-1 text-secondary">Other</h6>
                        <p>100 Thạch Thị Thanh, P. Tân Định, Quận 1, TP. HCM
                        </p>
                        <p class="mb-0 text-black font-weight-bold"><a
                          class="btn btn-sm btn-secondary mr-2" href="#"> Giao
                          ngay</a>
                          <span>45MIN</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="bg-white card addresses-item">
                  <div class="gold-members p-4">
                    <div class="media">
                      <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                      <div class="media-body">
                        <h6 class="mb-1 text-secondary">Other</h6>
                        <p>Địa chỉ giao hàng mới</p>
                        <p class="mb-0 text-black font-weight-bold"><a data-toggle="modal"
                                                                       data-target="#add-address-modal"
                                                                       class="btn btn-sm btn-primary mr-2" href="#">
                          Thêm địa chỉ
                          giao hàng mới</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-2"></div>
          <div class="bg-white rounded shadow-sm p-4 osahan-payment">
            <h4 class="mb-1">Phương thức thanh toán</h4>
            <h6 class="mb-3 text-black-50">Thanh toán khi nhận hàng</h6>
            <div class="row">
              <div class="col-sm-4 pr-0">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                  <a class="nav-link active" id="v-pills-cash-tab" data-toggle="pill"
                     href="#v-pills-cash" role="tab" aria-controls="v-pills-cash"
                     aria-selected="false"><i class="icofont-money"></i> COD</a>
                  <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"
                     href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                     aria-selected="true"><i class="icofont-credit-card"></i> Credit/Debit
                    Cards</a>
                  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"
                     href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                     aria-selected="false"><i class="icofont-bank-alt"></i> Netbanking</a>
                </div>
              </div>
              <div class="col-sm-8 pl-0">
                <div class="tab-content h-100" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                       aria-labelledby="v-pills-home-tab">
                    <form>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label>Ghi chú cho cửa hàng
                          </label>
                          <textarea rows='5' class="form-control"
                                    placeholder="Cửa hàng nên lưu ý..."></textarea>
                        </div>
                        <div class="form-group col-md-12">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="customCheck1">
                            <label class="custom-control-label"
                                   for="customCheck1">Securely save this card for a faster
                              checkout next time.</label>
                          </div>
                        </div>
                        <div class="form-group col-md-12 mb-0">
                          <a href="thanks.html"
                             class="btn btn-success btn-block btn-lg">Thanh toán 535.000
                            <i class="icofont-long-arrow-right"></i></a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-cart-table></app-cart-table>

      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
