<app-navbar-customer id="app-navbar-customer" [refreshNum]="countChanges"></app-navbar-customer>
<app-merchant-banner [merchant]="merchant" id="app-merchant-banner"></app-merchant-banner>

<section class="offer-dedicated-body pt-2 pb-2 mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="offer-dedicated-body-left">
<!--          <app-add-to-cart [id]="id" (refreshCarts)="refreshCarts($event)"></app-add-to-cart>-->

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-order-online" role="tabpanel"
                 aria-labelledby="pills-order-online-tab">
              <app-add-to-cart [id]="id" (refreshCarts)="refreshCarts($event)"></app-add-to-cart>

            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <app-merchant-vsattp [merchant]="merchant"></app-merchant-vsattp>
        <app-carts-table [refreshNum]="countChanges"></app-carts-table>
      </div>
    </div>
    <div class="row">
      <app-people-also-like [id]="id"></app-people-also-like>
<!--      <app-exclusively-for-you [id]="id"></app-exclusively-for-you>-->
    </div>
  </div>
</section>

<app-footer></app-footer>
