<nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img alt="logo" src="assets/customer-template/img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Trang chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!loggedIn">Đăng nhập <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf="!loggedIn">Đăng ký <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users/{{currentUser.id}}" *ngIf="loggedIn">{{currentUser.username}}<span class="sr-only"></span></a>
        </li>

        <li class="nav-item dropdown dropdown-cart" *ngIf="loggedIn">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-basket"></i> Giỏ hàng
            <span class="badge badge-success">{{cart.length}}</span>
          </a>
          <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">
            <div class="dropdown-cart-top-body border-top p-4">
              <p class="mb-2" *ngFor="let cartDetail of cart">
                <i class="icofont-ui-press text-green food-item"></i>
                {{cartDetail.dish.name}}
                <span class="ml-3 float-right text-secondary">
                  {{cartDetail.quantity}} x {{cartDetail.dish.price | number}} =
                  {{cartDetail.quantity * cartDetail.dish.price | number}}</span>
              </p>
            </div>
            <div class="dropdown-cart-top-footer border-top p-4">
              <p class="mb-0 font-weight-bold text-secondary">Tổng tiền <span
                class="float-right text-dark">{{total | number}}</span></p>
              <!-- <small class="text-info">Extra charges may apply</small> -->
            </div>
            <div class="dropdown-cart-top-footer border-top p-2">
              <a class="btn btn-success btn-block btn-lg" routerLink="/home/checkout"> Thanh toán</a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="loggedIn" (click)="logout()">Đăng xuất <span class="sr-only"></span></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
