<div id="#" class="bg-white rounded shadow-sm p-4 mb-4 explore-outlets">
  <h5 class="mb-4">Món dành riêng cho bạn</h5>
  <h6 class="mb-3">
                                        <span class="badge badge-success"><i class="icofont-tags"></i> 15%
                                            giảm giá </span>
    <span class="badge badge-success"><i class="icofont-tags"></i> Giảm 25k</span>
  </h6>
  <div
    class="owl-carousel owl-theme owl-carousel-five offers-interested-carousel mb-3">
    <div class="item">
      <div class="mall-category-item">
        <a href="#">
          <img class="img-fluid" src="img/list/1.png">
          <h6>Burgers</h6>
          <small>5 ITEMS</small>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="mall-category-item">
        <a href="#">
          <img class="img-fluid" src="img/list/2.png">
          <h6>Sandwiches</h6>
          <small>8 ITEMS</small>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="mall-category-item">
        <a href="#">
          <img class="img-fluid" src="img/list/3.png">
          <h6>Soups</h6>
          <small>2 ITEMS</small>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="mall-category-item">
        <a href="#">
          <img class="img-fluid" src="img/list/4.png">
          <h6>Pizzas</h6>
          <small>56 ITEMS</small>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="mall-category-item">
        <a href="#">
          <img class="img-fluid" src="img/list/5.png">
          <h6>Pastas</h6>
          <small>10 ITEMS</small>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="mall-category-item">
        <a href="#">
          <img class="img-fluid" src="img/list/6.png">
          <h6>Chinese</h6>
          <small>25 ITEMS</small>
        </a>
      </div>
    </div>
  </div>
</div>
